<div class="widget widget--recent-articles">
    <h5 class="aside-heading my-4">Recent <span class="text-primary">Articles</span></h5>

    <ul>
        {{#each articles}}
            <li class="d-flex justify-content-between">
                <div class="pe-3">
                    <a href="#"><img src="{{this.main_image}}" alt="{{this.title}}" class="rounded"></a>
                </div>

                <div class="d-flex flex-column justify-content-center flex-grow-1">
                    <h6><a href="/news/{{this.slug}}">{{this.title}}</a></h6>
                    <div class="text-muted text-uppercase">{{this.published_on}}</div>
                </div>
            </li>
        {{/each}}
    </ul>
</div>